.mb10 {
	top: 80px;
	padding: 0px;
	margin-bottom: 10px;
}

.mt10 {
	top: 80px;
	padding: 0px;
	margin-bottom: 10px;
}

.updatenote {
	top: 900px;
	padding: 0px;
	background: rgb(245, 147, 20);
	color: white;
	margin-bottom: 10px;
}
body {
	padding: 0px;
}
.p20 {
	top: 80px;
	padding: 0px;
}

.canvasbox {
	top:80px;
	border-radius: 3px;
	margin-right: 10px;
	width: 1020px;
	height: 600px;
	border-bottom: 3px solid #0063FF;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
	background: #333;
}